/*.bg-dark {
    background: #252525;
}*/

body {
    background-color: rgba(19, 22, 24, 0.7);
    min-height: 100vh;
    height: 100%;
    overflow: auto;
    -webkit-transition: background-color .3s; 
    transition: background-color .3s;
}

html {
    background-image: url("/static/img/default.jpeg");
    background-repeat: no-repeat;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    min-height: 100vh;
    height: 100%;
    overflow: auto;
}

wrapper {
    min-height: 100vh;
    top: 0;
    padding-top: 4rem;
}

main {
    padding: 3rem 1.5rem;
    padding-bottom: 0;
}

#locationInput {
    margin-top: 2rem;
    margin-bottom: 0;
}

#locationForm {
    margin-bottom: 2rem;
}

.autocomplete-suggestions {
    border: 1px solid #999; 
    background: #FFF; 
    overflow: auto; 
    color: #333;
    position: absolute;
    text-align: left;
}

.autocomplete-suggestion { 
    padding: 2px 5px; 
    white-space: nowrap; 
    overflow: hidden; 
}

.autocomplete-selected { 
    background: #F0F0F0; 
}

.autocomplete-suggestions strong { 
    font-weight: normal; 
    color: #3399FF; 
}

.autocomplete-group { 
    padding: 2px 5px; 
}

.autocomplete-group strong { 
    display: block; 
    border-bottom: 1px solid #000; 
}

.forecast-col {
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #343A40;
}

.forecast-col:hover {
    background: #464B51;
}

.forecast-col.active {
    background: #222629;
}

.forecast-temp-box {
    display: inline-block;
}

.forecast-temp-high {
    font-size: 50pt;
    line-height: 50pt;
    display: table-cell;
    vertical-align: middle;
    margin-top: -5pt;
    margin-bottom: -5pt;
}

.forecast-temp-box-right {
    font-size: 22pt;
    line-height: 25pt;
    display: table-cell;
}

.forecast-temp-box-right > span {
    display: block;
}

.forecast-date,
.forecast-details {
    font-size: 10pt;
}

.forecast-date,
.forecast-details > p {
    margin: 2px;
}

.forecast-icon > img {
    height: 50pt;
}

.current-conditions {
    display: inline-block;
}

.current-conditions-temp {
    display: table-cell;
    font-size: 70pt;
    vertical-align: middle;
    margin-top: -5pt;
    margin-bottom: -5pt;
}

.current-conditions-details {
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.current-conditions-details > div {
    margin: 7px;
}

.current-conditions-details > div > p {
    font-size: 16pt;
    margin: -4px;
}

.current-city-name {
    text-align: center;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* HEIGHT MUST BE IN PX OR IT BREAKS ANDROID CHROME */
.footer > div {
    height: 70px;
    line-height: 70px;
}

.opaque-bg {
    background-color: rgba(19, 22, 24, 1.0);
}

#weatherChart {
    background: #343A40;
}

.weather-chart-wrapper {
    width: auto;
    height: 70vh;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
@media (min-width: 768px) {
    .weather-chart-wrapper {
        width: auto;
        height: 65vh;
    }
}
@media (min-width: 992px) {
    .weather-chart-wrapper {
        width: 650px;
		height: 400px;
    }
}
@media (min-width: 1200px) {
    .weather-chart-wrapper {
        width: 750px;
		height: 450px;
    }
}

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

#preload {
    display: none;
}

.loader {
    border: 20px solid rgba(163, 163, 163, 0.65);
    border-radius: 50%;
    border-top: 20px solid rgba(235, 235, 235, 0.65);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

