/*.bg-dark {
    background: #252525;
}*/

body {
    background-color: rgba(19, 22, 24, 0.7);
    height: 100vh;
    overflow: auto;
    -webkit-transition: background-color .3s; 
    transition: background-color .3s;
}

html {
    background-image: url("/static/img/default.jpeg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
    height: 100vh;
}

wrapper {
    height: 100vh;
    top: 0;
    padding-top: 4rem;
}

main {
    padding: 3rem 1.5rem;
    padding-bottom: 40pt;
}

.loc-input {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.autocomplete-suggestions {
    border: 1px solid #999; 
    background: #FFF; 
    overflow: auto; 
    color: #333;
}

.autocomplete-suggestion { 
    padding: 2px 5px; 
    white-space: nowrap; 
    overflow: hidden; 
}

.autocomplete-selected { 
    background: #F0F0F0; 
}

.autocomplete-suggestions strong { 
    font-weight: normal; 
    color: #3399FF; 
}

.autocomplete-group { 
    padding: 2px 5px; 
}

.autocomplete-group strong { 
    display: block; 
    border-bottom: 1px solid #000; 
}

.forecast-col {
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #343A40;
}

.forecast-col:hover {
    background: #464B51;
}

.forecast-col.active {
    background: #222629;
}

.forecast-temp-box {
    display: inline-block;
}

.forecast-temp-high {
    font-size: 50pt;
    line-height: 50pt;
    display: table-cell;
    vertical-align: middle;
    margin-top: -5pt;
    margin-bottom: -5pt;
}

.forecast-temp-box-right {
    font-size: 22pt;
    line-height: 25pt;
    display: table-cell;
}

.forecast-temp-box-right > span {
    display: block;
}

.forecast-date,
.forecast-details {
    font-size: 10pt;
}

.forecast-date,
.forecast-details > p {
    margin: 2px;
}

.forecast-icon > img {
    height: 50pt;
}

.current-conditions {
    display: inline-block;
}

.current-conditions-temp {
    display: table-cell;
    font-size: 70pt;
    vertical-align: middle;
    margin-top: -5pt;
    margin-bottom: -5pt;
}

.current-conditions-details {
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.current-conditions-details > div {
    margin: 7px;
}

.current-conditions-details > div > p {
    font-size: 16pt;
    margin: -4px;
}

.current-city-name {
    text-align: center;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer > div {
    height: 40pt;
    line-height: 40pt;
    margin-top: -40pt;
}

.opaque-bg {
    background-color: rgba(19, 22, 24, 1.0);
}

#weatherChart {
    background: rgba(255, 255, 255, 0.8);
    width: 163px;
    height: 100px;
}

.weather-chart-wrapper {
    width: auto;
    height: 70vh;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
@media (min-width: 768px) {
    .weather-chart-wrapper {
        width: auto;
        height: 65vh;
    }
}
@media (min-width: 992px) {
    .weather-chart-wrapper {
        width: 650px;
		height: 400px;
    }
}
@media (min-width: 1200px) {
    .weather-chart-wrapper {
        width: 750px;
		height: 450px;
    }
}

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

#preload {
    display: none;
}

