/*.bg-dark {
    background: #252525;
}*/

body {
    background: rgba(19, 22, 24, 0.92);
    padding-top: 4rem;
    height: 100%;
    overflow: auto;
}

html {
    background-image: url("https://images.pexels.com/photos/110874/pexels-photo-110874.jpeg?auto=compress&cs=tinysrgb&w=1920");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: auto;
}

.main-content {
    padding: 3rem 1.5rem;
    text-align: center;
}

.loc-input {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.autocomplete-suggestions {
    border: 1px solid #999; 
    background: #FFF; 
    overflow: auto; 
    color: #333;
}

.autocomplete-suggestion { 
    padding: 2px 5px; 
    white-space: nowrap; 
    overflow: hidden; 
}

.autocomplete-selected { 
    background: #F0F0F0; 
}

.autocomplete-suggestions strong { 
    font-weight: normal; 
    color: #3399FF; 
}

.autocomplete-group { 
    padding: 2px 5px; 
}

.autocomplete-group strong { 
    display: block; 
    border-bottom: 1px solid #000; 
}

.forecast-col {
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.forecast-temp-box {
    display: inline-block;
}

.forecast-temp-high {
    font-size: 50pt;
    line-height: 50pt;
    display: table-cell;
    vertical-align: middle;
    margin-top: -5pt;
    margin-bottom: -5pt;
}

.forecast-temp-box-right {
    font-size: 22pt;
    line-height: 25pt;
    display: table-cell;
}

.forecast-temp-box-right > span {
    display: block;
}

.forecast-date,
.forecast-details {
    font-size: 10pt;
}

.forecast-date,
.forecast-details > p {
    margin: 2px;
}

.forecast-icon > img {
    height: 50pt;
}

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

