<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Marco Giancarli">
    <!--<link rel="icon" href="../../../../favicon.ico">-->

    <title>My Weather Forecast</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/custom.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
      <a class="navbar-brand" href="#">MyWeatherApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="main-content">
        <h1>My Weather Forecast</h1>
        <form class="col-md-6 mx-auto">
          <input class="form-control loc-input" name="location" id="locationInput" type="text" placeholder="City or US zip code">
        </form>
        <p class="lead">Enter a city or a US zip code to get the current weather and 5-day forecast.</p>
      </div>
    
      <div class="row">
        <div class="col-md" style="background: #333; height: 250px; margin: 5px;">
        </div>
        <div class="col-md" style="background: #333; height: 250px; margin: 5px;">
        </div>
        <div class="col-md" style="background: #333; height: 250px; margin: 5px;">
        </div>
        <div class="col-md" style="background: #333; height: 250px; margin: 5px;">
        </div>
        <div class="col-md" style="background: #333; height: 250px; margin: 5px;">
        </div>
      </div>

    </main> 


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.7/jquery.autocomplete.min.js"></script>
    <script src="static/js/autocomplete.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </body>
</html>

