{% extends 'layout.html' %}

{% block main %}
        <div class="container text-center">
          <h1>MyWeatherApp 5-Day Forecast</h1>
          <form id="locationForm" class="col-md-6 mx-auto">
            <input class="form-control loc-input" name="location" id="locationInput" type="search" placeholder="City or US zip code">
          </form>
          <p class="lead">Enter a city or a US zip code to get the current weather and 5-day forecast.</p>
        </div>
    
        <div class="container hide" id="forecastContainer">
          <h2 class="current-city-name">City Name</h2>
          <div class="row justify-content-center">
            <div class="col-xs-auto current-conditions-temp">XX&#176;F</div>
            <div class="col-xs-auto current-conditions-details">
              <div>
                <p class="current-conditions-desc">Weather description</p>
                <p class="current-conditions-humid">Humidity: %</p>
                <p class="current-conditions-wind">Wind Speed: mph</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg forecast-col" id="forecast-day-0">
              <p class="forecast-date">Day Month Date</p>
              <div class="row no-gutters">
                <div class="col-xs-auto forecast-temp-box">
                  <div class="forecast-temp-high">XX</div>
                  <div class="forecast-temp-box-right">
                    <span>&#176;F</span>
                    <span class="forecast-temp-low">YY</span>
                  </div>
                </div>
                <div class="col-xs-auto forecast-icon"></div>
                <div class="col-xs-auto forecast-details">
                  <p class="forecast-desc">Weather description</p>
                  <p class="forecast-humid">Peak Humidity: %</p>
                  <p class="forecast-wind">Peak Wind Speed: mph</p>
                </div>
              </div>
            </div>
            <div class="col-lg forecast-col" id="forecast-day-1">
              <p class="forecast-date">Day Month Date</p>
              <div class="row no-gutters">
                <div class="col-xs-auto forecast-temp-box">
                  <div class="forecast-temp-high">XX</div>
                  <div class="forecast-temp-box-right">
                    <span>&#176;F</span>
                    <span class="forecast-temp-low">YY</span>
                  </div>
                </div>
                <div class="col-xs-auto forecast-icon"></div>
                <div class="col-xs-auto forecast-details">
                  <p class="forecast-desc">Weather description</p>
                  <p class="forecast-humid">Peak Humidity: %</p>
                  <p class="forecast-wind">Peak Wind Speed: mph</p>
                </div>
              </div>
            </div>
            <div class="col-lg forecast-col" id="forecast-day-2">
              <p class="forecast-date">Day Month Date</p>
              <div class="row no-gutters">
                <div class="col-xs-auto forecast-temp-box">
                  <div class="forecast-temp-high">XX</div>
                  <div class="forecast-temp-box-right">
                    <span>&#176;F</span>
                    <span class="forecast-temp-low">YY</span>
                  </div>
                </div>
                <div class="col-xs-auto forecast-icon"></div>
                <div class="col-xs-auto forecast-details">
                  <p class="forecast-desc">Weather description</p>
                  <p class="forecast-humid">Peak Humidity: %</p>
                  <p class="forecast-wind">Peak Wind Speed: mph</p>
                </div>
              </div>
            </div>
            <div class="col-lg forecast-col" id="forecast-day-3">
              <p class="forecast-date">Day Month Date</p>
              <div class="row no-gutters">
                <div class="col-xs-auto forecast-temp-box">
                  <div class="forecast-temp-high">XX</div>
                  <div class="forecast-temp-box-right">
                    <span>&#176;F</span>
                    <span class="forecast-temp-low">YY</span>
                  </div>
                </div>
                <div class="col-xs-auto forecast-icon"></div>
                <div class="col-xs-auto forecast-details">
                  <p class="forecast-desc">Weather description</p>
                  <p class="forecast-humid">Peak Humidity: %</p>
                  <p class="forecast-wind">Peak Wind Speed: mph</p>
                </div>
              </div>
            </div>
            <div class="col-lg forecast-col" id="forecast-day-4">
              <p class="forecast-date">Day Month Date</p>
              <div class="row no-gutters">
                <div class="col-xs-auto forecast-temp-box">
                  <div class="forecast-temp-high">XX</div>
                  <div class="forecast-temp-box-right">
                    <span>&#176;F</span>
                    <span class="forecast-temp-low">YY</span>
                  </div>
                </div>
                <div class="col-xs-auto forecast-icon"></div>
                <div class="col-xs-auto forecast-details">
                  <p class="forecast-desc">Weather description</p>
                  <p class="forecast-humid">Peak Humidity: %</p>
                  <p class="forecast-wind">Peak Wind Speed: mph</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col hide weather-chart-wrapper">
              <canvas id="weatherChart"></canvas>
            </div>
          </div>
        </div>
{% endblock %}

{% block bottom %}
    <!-- Preload background images for a more seamless transition -->
    <div id="preload">
      <img src="/static/img/default.jpeg" />
      <img src="/static/img/Clear.jpeg" />
      <img src="/static/img/Clouds.jpeg" />
      <img src="/static/img/Rain.jpeg" />
      <img src="/static/img/Thunderstorm.jpeg" />
      <img src="/static/img/Snow.jpeg" />
      <img src="/static/img/Atmosphere.jpeg" />
      <img src="/static/img/Drizzle.jpeg" />
      <img src="/static/img/Fog.jpeg" />
      <img src="/static/img/Mist.jpeg" />
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.7/jquery.autocomplete.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="static/js/weatherChart.js"></script>
    <script src="static/js/autocomplete.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
{% endblock %}
